@import "defoult.css";


section{
    width: 100%;
    height: max-content;
    margin: 45px auto;
    padding: 50px;
}

.container{
    padding: 8px;
}

.row_2{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.clock_p{
    color: #666666;
    font-size: 14px;
    font-family: "eUkraineRegular", sans-serif;
}


.top_bar{
    margin: 0;
    padding: 0;
    background-color: black;
}

.list_horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list_horizontal li{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
}

.item_link_nav_bar:hover{
    border-bottom: #000000 solid 2px;
}

.top_bar .list_horizontal{
    justify-content: center;
}

.top_bar .list_horizontal li a{
    color: #ffff;
    font-family: "eUkraineLight", sans-serif;;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.short_description{
    width: 650px;
}

.top_bar .icon_item{
    height: 20px;
    width: 20px;
}

.bottom_bar{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: black 0 1px 3px;
}

.bottom_bar .list_horizontal li a{
    color: #000000;
    font-family: "eUkraineMedium", sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}


.bottom_bar .icon_item{
    height: 25px;
    width: 25px;
}


.bottom_ba .list_horizontal{
    justify-content: start;
}

.logo_company{
    display: flex;
    flex-direction: row;
}

.logo_company .dia, .gerb{
    margin-left: 10px;
    margin-right: 10px;
}

.dia{
    height: 50px;
    width: 50px;
}

.gerb{
    height: 38px;
    width: 28px;
}

.border_logo{
    border: solid black;
    border-width: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
}

.content_company{
    margin-left: 8px;
    margin-right: 8px;
}

.name_company{
    color: #000;
    font-family: "eUkraineHeadBold" , sans-serif;;
    font-size: 20px;
}

.discrtiption_name_company{
    color: #000;
    font-family: "eUkraineThin" , sans-serif;;
    font-size: 11px;
    text-align: center;
}

.colum_line{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

.colum_line .create_line_blue{
    height: 25px;
    border-left: 3px solid #0003c5;
}

.colum_line .create_line_yellow{
    height: 25px;
    border-left: 3px solid #ffe600;
}

.title_block h3{
    width: max-content;
    height: max-content;
    font-family: "eUkraineHeadBold" , sans-serif;;
    font-size: 55px;
    color: #000000;
}

.title_block{
    width: 80px;
    border-bottom: solid;
    border-color: #000000;
    border-width: 5px;
}

.card_list_news{
    width: 500px;
    padding: 35px;
    height: max-content;
    border-radius: 20px;
    box-shadow: black 0 1px 2px;
    background-color: #ffffff;
}

.card_list_news .item_list_news a{
    color: #000;
    font-family: "eUkraineThin" , sans-serif;;
    font-size: 18px;
}

.item_list_news{
    padding-top: 5px;
    padding-bottom: 5px;
}

.card_list_navigations{
    width: 100%;
    height: max-content;
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.btn_lite_white{
    border: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "eUkraineMedium", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.btn_lite_white:hover{
    background-color: black;
    color: #ffffff;
}


.post_card_larg{
    width: max-content;
    height: min-content;
    background-color: #ffffff;
    box-shadow: black 0 1px 2px;
    border-radius: 20px;
}

.post_card_larg a{
    text-decoration: none;
}

.date_post_card_larg{
    padding-left: 15px;
}

.image_post_card_larg{
    width: 700px;
    display: flex;
    justify-content: center;
}

.image_post_card_larg img{
    height: 350px;
    width: max-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit:cover;
}

.title_post_card_larg{
    padding: 15px;
}

.title_post_card_larg h4{
    color: #000;
    font-family: "eUkraineHeadMedium" , sans-serif;;
    font-size: 25px;
}

.social_club_post_card_large{
    display: flex;
    justify-content: right;
    padding: 15px;
}

.social_club_post_card_large a{
    height: 35px;
    width: 35px;
    margin: 5px;
}

.list_document_category ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: end;
    padding-left: 0px;
}

.list_document_category ul li{
    padding: 10px;
}

.list_document_category .item_category_document{
    color: #666666;
    font-weight: normal;
    font-family: "eUkraineLight", sans-serif;;
    text-decoration: none;
}

.list_document_category .item_category_document:hover{
    color: #666666;
    font-weight: bold;
    font-family: "eUkraineLight", sans-serif;;
    text-decoration: none;
    border-bottom: solid 2px #666666;
}

.list_document_category ul li .active_item_category_document{
    color: #000000;
    font-weight: bold;
    font-family: "eUkraineLight", sans-serif;;
    text-decoration: none;
    border-bottom: solid 2px #000000;
    font-size: 18px;
}

.btn_small_black{
    color: #ffffff;
    font-weight: normal;
    font-family: "eUkraineLight", sans-serif;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn_small_black:hover{
    color: #000000;
    background-color: #ffffff;
    border: solid 2px black;
}


.list_years_document ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: end;
    padding-left: 0px;
}

.list_years_document ul li{
    padding: 10px;
}

.list_years_document .item_years_document{
    color: #666666;
    font-weight: normal;
    font-family: "eUkraineLight", sans-serif;;
    text-decoration: none;
}

.list_years_document .item_years_document:hover{
    color: #666666;
    font-weight: bold;
    font-family: "eUkraineLight", sans-serif;;
    text-decoration: none;
    border-bottom: solid 2px #666666;
}

.list_years_document ul li .active_item_years_document{
    color: #000000;
    font-weight: bold;
    font-family: "eUkraineLight", sans-serif;;
    text-decoration: none;
    border-bottom: solid 2px #000000;
    font-size: 18px;
}

.item_info_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.list_document{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list_document a{
    text-decoration: none;
    color: black;
}

.item_link_document {
    flex-basis: 45%;
    padding: 10px;
    border: 2px solid transparent; /* Потрібно для відображення градієнта */
    border-image: linear-gradient(to right, #B5D39D, #F1ACAC, #BF98C6, #7179EF, #2833D0) 1 1 stretch;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}


.logo_doc{
    padding: 5px;
}

.logo_download{
    padding: 5px;
}
.item_link_document, .logo_download{
    justify-content: end;
}

.item_info_document {
    margin-bottom: 0;
}

.item_info_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "eUkraineRegular", sans-serif;
    text-align: start;
}

.item_info_doctor{
    font-family: "eUkraineRegular", sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}


.card_shaking{
    width: max-content;
    height: min-content;
    background-color: #ffffff;
    box-shadow: black 0 1px 2px;
    border-radius: 20px;
}

.card_shaking_all{
    width: 300px;
    height: 345px;
    background-color: #000000;
    box-shadow: black 0 1px 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_shaking_all a{
    text-decoration: none;
}

.card_shaking_all h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "eUkraineRegular", sans-serif;
    text-align: start;
    color: #ffffff;
    width: 150px;
}
.card_shaking_all img{
    padding-left: 15px;
}

.card_shaking a{
    text-decoration: none;
}

.card_shaking a .title_card_shaking h3{
    font-size: 16px;
    font-weight: bold;
    font-family: "eUkraineRegular", sans-serif;
    text-align: start;
    color: black;
}

.image_card_shaking{
    width: 300px;
    height: 250px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title_card_shaking h3{
    width: 280px;
}

